// $ns-secondary-color: #ffc107;
// $ns-nav-color: #f49e00;
// $ns-main-color: #5467e6;
// $ns-main-color: #263493;
// $foreground-color: #e9eaf5;
$gray00: #f5f5f5;
$gray01: #a2a2a2;
$gray02: #787878;
$gray03: #777777;
$font-gray: #787878;
$font-darkgray: #2a2a2a;
$font-black: #000;
$ns-secondary-color:  #1374A4;
$ns-secondary-cover-color: #2980ab;
$ns-nav-color: #D6D3F0;
$ns-main-color: #0B3142;
$foreground-color: #ECEAFF;

:export {
    tiles1: #9A93DC;
    tiles2: #3FACDE;
    tiles3: #1374A4;
    tiles4: #199ea5;
    tiles5: #82668F;
    tiles6: #49d3cc;
}

