.locale-selector {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30px;
    height: auto;
    margin-left: 0.5rem;
    border: 1px solid #000;
  }
}

.content-container {
  .locale-selector {
    span {
      display: none;
    }
  }
}
