@media( min-width: 900px) {
    .links-list {
        width: 80%;
        margin: auto;
    }

    .admin-page {
     .links-list {
        width: 100%;
        padding-top: 3rem;
    }
}
}

.admin-page {
    .title-line {
        height: 1px;
    }
}